@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
    --redpurp: #9C3974;
    --purp: #A05597;
    --zero: #004DB6;
    --azure: #0095fa;
    --jblue: #94bcf9;
    --cblue: #a3acbd;
    --cBlack: #121212;
}

::selection {
    color: black;
    background-color: white;
}

* {
    font-family: 'Outfit', 'Roboto', san-serif;
    box-sizing: border-box;		
}

a {
	text-decoration: none;
    color: var(--jblue);
}

body {
    background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
    justify-content: flex-end;
    align-items: center;
	margin: 0;
	padding: 10px;
}

nav .name {
    margin-right: auto;
    color: var(--purp);
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.name img {
    width: auto;
    height: 1.4ch;
    object-fit: contain;
}

nav ul li {
	display: inline-block;
    display: flex;
    padding: 0px 20px;
    font-weight: medium;
    font-size: 20px;
}

nav ul {
	list-style: none;
    display: flex;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    color: #ffffff;
    margin-left: 20px;
    padding: 2px 20px;
    background-color: var(--purp);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#main {
	display: grid;
	grid-template-columns: 4fr 3fr;
	padding: 5px;
	margin: 10px 60px;
	align-content: center;
    justify-content: center;
}

#main_img {
    background: linear-gradient(25deg, rgba(158, 54, 146, 0),
    rgb(158, 54, 146, 1));
    border-radius: 20px;
    padding: 2px;
    width: 100%;
    height: max-content;
}
    
#main_img img{
	width: 100%;
	height: inherit;
    margin: 0;
	object-fit: contain;
    border-radius: 20px;
    min-width: 50vw;
}

#main_text {
	font-size: 4vw;
    padding: 0% 20px;
    display:table-cell;
    vertical-align:middle;   
}
#main_btn {
    padding: 5px 25px;
    background-color: var(--jblue);
    border: var(--jblue) 2px solid;
    color: white;
    font-size: smaller;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}

#sec_btn{
    padding: 5px 25px;
    border: var(--jblue) 2px solid;
    color: var(--jblue);
    font-size: smaller;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}

section {
    border: var(--jblue) 3px solid;
    border-radius: 20px;
	padding: 10px;
	margin: 60px 60px;
    display: grid;
}

#sec1 {
    grid-template-columns: 3fr 4fr;
}

#sec1 div:nth-child(odd) {
    text-align: center;
    margin: 10% auto;
}

#sec1 div:nth-child(even) {
    font-size: 3em;
    text-align: center;
    padding: 20px;
}

#sec1 div img {
    width: 70%;
    height: 30vw;
    object-fit:contain;
    display: table-cell;
    margin-top: 0%;
    margin-bottom: 0%;

}

#sec1 div p, #sec1 div h2 {
    font-size: 2.5vw;
    margin-bottom: 5%;
    margin-top: 0;
}

#sec1 div a {
    padding: 5px 25px;
    background-color: var(--jblue);
    border: var(--jblue) 2px solid;
    color: white;
    font-size: smaller;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}
.last img {
    object-fit: contain;
    width: auto;
    height: 30vw;
}

footer ul {
    text-decoration: none;
}

footer ul li {
    display:inline-block;
}
