@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    font-family: 'Outfit', 'Roboto';
    background-color: #121212;
    box-sizing: border-box;		
}

a {
	text-decoration: none;
    color: #94BCF9;
}

body {
	color: white;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
    justify-content: flex-end;
    align-items: center;
	margin: 0;
	padding: 10px;
}

nav .name {
    margin-right: auto;
    color: #A05597;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
}

nav ul li {
	display: inline-block;
    display: flex;
    padding: 0px 20px;
    font-weight: medium;
    font-size: 20px;
}

nav ul {
	list-style: none;
    display: flex;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    color: #ffffff;
    margin-left: 20px;
    padding: 2px 20px;
    background-color: #A05597;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#main {
	border: white 2px solid;
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 5px;
	margin: 10px 60px;
	align-content: center;
}
#main_img img{
	width: 100%;
	max-height: 300px;
	object-fit: contain;
}

#main_text h2 {
	font-size: 3em;
}
