@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
    --redpurp: #9C3974;
    --purp: #A05597;
    --zero: #004DB6;
    --azure: #0095fa;
    --jblue: #94bcf9;
    --cblue: #a3acbd;
    --cBlack1: #121212;
}

* {
    font-family: 'Outfit', 'Roboto', 'san-serif';
    box-sizing: border-box;		
    background-color: var(--cBlack1);
    padding: 0;
    margin: 0;
}

::selection {
    color: var(--cBlack1);
    background-color: white;
}

a {
	text-decoration: none;
    color: var(--jblue);
}

body {
    background-color: var(--cBlack1);
	color: white;
	margin: 0;
	padding: 0;
}