a {
	text-decoration: none;
    color: var(--jblue);
}

#sec_btn{
    padding: 5px 25px;
    border: var(--jblue) 2px solid;
    color: var(--jblue);
    font-size: smaller;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}

#sec1 {
    grid-template-columns: 3fr 4fr;
}

#sec1 div:nth-child(odd) {
    text-align: center;
    margin: 10% auto;
}

#sec1 div:nth-child(even) {
    font-size: 3em;
    text-align: center;
    padding: 20px;
}

#sec1 div img {
    width: 70%;
    height: 30vw;
    object-fit:contain;
    display: table-cell;
    margin-top: 0%;
    margin-bottom: 0%;

}

#sec1 div p, #sec1 div h2 {
    font-size: 2.5vw;
    margin-bottom: 5%;
    margin-top: 0;
}

#sec1 div a {
    padding: 5px 25px;
    background-color: var(--jblue);
    border: var(--jblue) 2px solid;
    color: white;
    font-size: smaller;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}
.last img {
    object-fit: contain;
    width: auto;
    height: 30vw;
}

footer ul {
    text-decoration: none;
}

footer ul li {
    display:inline-block;
}
