@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
    --redpurp: #9C3974;
    --purp: #A05597;
    --zero: #004DB6;
    --azure: #0095fa;
    --jblue: #94bcf9;
    --cblue: #a3acbd;
    --cBlack1: #121212;
}

nav {
	display: flex;
    justify-content: flex-end;
    align-items: center;
	margin: 0;
	padding: 10px;
}

nav .logo1 {
    width: 40px;
    height: auto;
    object-fit: contain;
    margin: 10px;
}

nav a.name {
    color: var(--purp);
    margin-right: auto;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

nav ul li {
	display: inline-block;
    display: flex;
    padding: 0px 20px;
    font-weight: medium;
    font-size: 20px;
}

nav ul {
	list-style: none;
    display: flex;
}

nav ul li a {
    transition: all 0.3s ease 0s;
    color: var(--jblue);
}

nav ul li a:hover {
    color: white;
    background-color: var(--jblue);
    margin-left: 20px;
    padding: 2px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

img {
    max-width: 10%;
    height: auto;
}