@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

:root {
  --redpurp: #9c3974;
  --purp: #a05597;
  --zero: #004db6;
  --azure: #0095fa;
  --jblue: #94bcf9;
  --cblue: #a3acbd;
  --cBlack1: #121212;
  --cBlack2: #171717;
  --rasinBlack: #232323;
}

#panel1 {
	display: grid;
    gap: 1vw;
    grid-template-columns: repeat(2, 1fr);

	padding: 1vw;
	margin: 0.3vw 7vw;
	align-content: center;
    justify-content: space-between;
}

#panel1_img img{
    display: flex;
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

img#P1image2 {
    display: none;
    background-image: linear-gradient(to bottom left, rgb(100, 2, 100), rgb(161, 1, 161));
    border-radius: 4vw;
    padding: 1px;
}

#panel1_text {
	font-size: 4vw;
    padding: 1vw;
    display:table-cell;
    vertical-align:middle;
}

#panel1_text h2 {
	padding: 1vw;
}

#panel1_text p {
    font-size: 2vw;
    padding: 1vw;
}

#panel1_btn {
    background-color: var(--jblue);
    color: white;
}
#panel1_btn, #panel1_btn2 {
    padding: 0.5vw 2vw;
    border: var(--jblue) solid 2px;
    font-size: 1.6vw;
    display: inline;
    margin: 1vw;
    border-radius: 4vw;
    float:left;
}

#panel1_btn:hover {
    box-shadow: 0px 0px 6px white;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
#panel1_btn2:hover {
    box-shadow: 0px 0px 6px white;
    background-color: var(--jblue);
    color: white;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

@media only screen and (max-width:680px) {
    #panel1 {
        grid-template-columns: 1fr;
        padding: 5vw;
    }
    #panel1_text {
        text-align: center;
        align-content: center;
        font-size: 5vw;
        padding: 5vw;
    }
    #panel1_text p{
        font-size: 3vw;
        padding-bottom: 4vw;
    }
    #panel1_btn, #panel1_btn2 {
        font-size: 3.5vw;
        float:none;
        padding: 1vw 3vw;
    }

    #panel1_img img{
        display: none;
    }

    img#P1image2 {
        display: flex;
    }
    
}