@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
    --redpurp: #9C3974;
    --purp: #A05597;
    --zero: #004DB6;
    --azure: #0095fa;
    --jblue: #94bcf9;
    --cblue: #a3acbd;
    --cBlack1: #121212;
}

#panel1 {
	display: grid;
    gap: 1vw;
    grid-template-columns: repeat(2, 1fr);

	padding: 2vw;
	margin: 10vw;
	align-content: center;
    justify-content: space-between;
}

#panel1_img img {
    width: 100%;
    height: auto;
    padding-top: 3vw;
    
}

#panel1_text {
	font-size: 3vw;
    padding: 1vw;
    display:table-cell;
    vertical-align:middle;
}

#panel1_text h2 {
	padding: 1vw;
}


#panel1_text p {
    font-size: 2vw;
    padding: 1vw;
}

#panel1_btn {
    padding: 1vw;
    background-color: var(--jblue);
    border: var(--jblue) 2px solid;
    color: white;
    font-size: 1.2vw;
    display: inline;
    margin: 1vw;
    border-radius: 60px;
    float:left;
}
#panel1_btn2{
    padding: 1vw;
    border: var(--jblue) solid 1px;
    color: var(--jblue);
    font-size: 1.2vw;
    display: inline;
    margin: 1vw;
    border-radius: 60px;
    float:left;
}