@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

:root {
  --redpurp: #9c3974;
  --purp: #a05597;
  --zero: #004db6;
  --azure: #0095fa;
  --jblue: #94bcf9;
  --cblue: #a3acbd;
  --cBlack1: #121212;
  --cBlack2: #171717;
  --rasinBlack: #232323;
}

#sec1 {
    grid-template-columns: 3fr 4fr;
}

#sec1 div:nth-child(odd) {
    text-align: center;
    margin: 10% auto;
}

#sec1 div:nth-child(even) {
    font-size: 3em;
    text-align: center;
    padding: 20px;
}

#sec1 div img {
    width: 70%;
    height: 30vw;
    object-fit:contain;
    display: table-cell;
    margin-top: 0%;
    margin-bottom: 0%;

}

#sec1 div p, #sec1 div h2 {
    font-size: 2.5vw;
    margin-bottom: 5%;
    margin-top: 0;
}

#sec1 div a {
    padding: 5px 25px;
    background-color: var(--jblue);
    border: var(--jblue) 2px solid;
    color: white;
    font-size: smaller;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}