@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

:root {
  --redpurp: #9c3974;
  --purp: #a05597;
  --zero: #004db6;
  --azure: #0095fa;
  --jblue: #94bcf9;
  --cblue: #a3acbd;
  --cBlack1: #121212;
  --cBlack2: #171717;
  --rasinBlack: #232323;
}

section {
    border: var(--jblue) 5px solid;
    border-radius: 20px;
	padding: 2vw;
	margin: 4vw 7vw;
    display: grid;
}

#sec_btn{
    padding: 5px 25px;
    border: var(--jblue) 2px solid;
    color: var(--jblue);
    font-size: smaller;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}